body {
    background-color: #dddddd;
    min-width: 800px;
    min-height: 750px;
    font-family: "Calibri", sans-serif;
    font-size: 16px;
}

.mytitle {
	font-size: 24px;
}






.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:310px; 
    height:140px;
    margin: 0 auto; 
 
    position:relative; 
    border:1px solid black; 
    border-radius: 0px; 
    box-shadow: 0 0px 0px #333}

#testCanvas{
    position:relative;
    z-index:20;
}
